body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}
/*
#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
	
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#mainmenu ul ul
{
   	list-style:none;
   	position:absolute;
    	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
 /*	opacity:0; /* Устанавливаем начальное состояние прозрачности */
  /*  	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}/*
#mainmenu ul ul li
{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
/*	float:none;
	background:url(dot.gif);
}
#mainmenu ul ul a
{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
/*	display:block;
}
#mainmenu ul li:hover ul
{ /* Выводим выпадающий пункт при наведении курсора */
/*	left:0; /* Приносим его обратно на экран, когда нужно */
/*	padding:7px 245px;
	opacity:1; /* Делаем непрозрачным */
/*}
#mainmenu ul ul li:hover a
{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
/*	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
	text-decoration:underline;
	    
}
#mainmenu  ul li:hover ul a
{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
/*	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}

#mainmenu ul li:hover ul li a:hover
{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
/*	background:#333;
	background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
/*	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}*/
/*
.nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
}
.nav li{
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
}
.nav li a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;
	
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); 
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.nav li a:hover{
	color:#fff;
	background:#6b0c36;
	background:rgba(107,12,54,0.75); 
	text-decoration:underline;
}


.nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; 
	opacity:0; 
	-webkit-transition:0.25s linear opacity; 
}
.nav ul li{
	padding-top:1px; 
	float:none;
	background:url(dot.gif);
}
.nav ul a{
	white-space:nowrap; 
	display:block;
}
.nav li:hover ul{ 
	left:0;
	opacity:1; 
}
.nav li:hover a{ 
	background:#6b0c36;
	background:rgba(107,12,54,0.75); 
	text-decoration:underline;
}
.nav li:hover ul a{ 
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
.nav li:hover ul li a:hover{ 
	background:#333;
	background:rgba(51,51,51,0.75);
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}
*/
.nav,.nav li ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.nav > li
{
	float:left;
	width:150px;
}	
.nav li ul{
	display:none;
	position:absolute;
	z-index:100;
	width:130px;
}    
.nav li:hover ul{display:block}
.nav > li{
	  background-color:#f6e324;
	  text-align:center;
	  padding:10px 0px 10px 0px;
	  border-top:1px solid #E8E8E8;
	  border-right:1px solid #E8E8E8;
	}
	 
	.nav > li:hover{background-color:#E8E8E8;}
	 
	.nav > li > a{
	  font:14px "Geargia";
	  color:#000000;
	  text-decoration:none;
	  text-transform:uppercase;
	}
.nav li ul{
	  margin-top:10px;
	  background-color:#ffffff;
	  border:1px solid #E8E8E8;
	}
	 
	.nav li ul li{
	  text-align:left;
	  padding:5px 5px 5px 15px;
	}
	 
	.nav li ul li a{
	  font:14px "Geargia";
	  color:#000000;
	  text-decoration:none;
	}
	 
	.nav li ul li a:hover{
	  font:14px "Geargia";
	  color:#553CCF;
	  text-decoration:none;
	}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

