html, body 
{
	height:100%;
	margin:0;
}
img
{
	border: 2px solid #000000;
}
#bigImg 
{
	
	margin:-50px 0 0 -50px;
	border: 1px solid #000000;
	padding: 50px; /* Ширина паспарту */
    background: #f0f0f0; /* Цвет фона  паспарту */
	top:25%;
	left:17%;
	position: absolute;
	z-index: 150; 
}
#buttonNext
{
	margin:-10px 0 0 -10px;
	border: 0px;
	top:10%;
	left:95%;
	position: absolute;
	z-index: 150; 
}
#buttonPrev
{
	margin:-10px 0 0 -10px;
	border: 0px;
	top:10%;
	left:13%;
	position: absolute;
	z-index: 150; 
}
#buttonClose
{
	margin:-10px 0 0 -10px;
	border: 0px;
	top:10%;
	left:54%;
	position: absolute;
	z-index: 150; 
}
#TB_overlay {
  background-color: #000; /* Чёрный фон */
  height: 100%; /* Высота максимальна */
  left: 0; /* Нулевой отступ слева */
  opacity: 0.50; /* Степень прозрачности */
  position: fixed; /* Фиксированное положение */
  top: 0; /* Нулевой отступ сверху */
  width: 100%; /* Ширина максимальна */
  z-index: 100; /* Заведомо быть НАД другими элементами */
}
